.mountain__bg {
    position: relative;
    height: 1000px;
    overflow: hidden;
}
.mountain {
    position: absolute;
    background-image: url("photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;

}
